{% extends 'store/base.html' %}

{% block title %}Terms Accepted{% endblock %}

{% block content %}
  <div class="terms-card">
    <h1>Agree to the Terms and Conditions</h1>
    
    <p>I agree to the terms and conditions:</p>

    <form action="{% url 'store:agree_terms_and_conditions' %}" method="POST" class="terms-form">
      {% csrf_token %}
      <label>
        <input type="checkbox" name="terms" required>
        I agree to the <a href="{% url 'store:terms_and_conditions' %}">terms and conditions</a>.
      </label>

      <button type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
